# Dependencies
node_modules

# Build output
dist

# Development files
*.md
.git
.gitignore
.env
.env.*

# IDE
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Data
data/

# Logs
*.log
npm-debug.log*

